<html>
	<head>
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheets/style.css') }}">
		<title>Control Panel</title>
		<img src="{{ url_for('static', filename='logo.png') }}" style="width:200px;height:78px;"> 
</head>
	<body>		
		<div class="heading">Control Panel</div>
		<hr>
		<br>	
		<div class="message">{{ message }}</div>
		<form action="/index/" method="post">
    		<button class="button" name="index" type="submit">Home</button>
		</form>

</body>
</html>
